# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
.dist/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# VS Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db